.centerCard {
    margin: auto;
    width: 75vw;
    height: auto;
    align-items: center;

}
.weatherDetails {
    background-color: rgb(0, 183, 255);
}
ion-footer {
    position: fixed;
    bottom: 10vh;
    height: auto;
    
}
.details {
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}
